<ul class="nav nav-tabs" style="margin-bottom: 15px;">
  <li class="active"><a href="#costHistory" data-toggle="tab">Cost</a></li>
  <li class=""><a href="#pointsHistory" data-toggle="tab">Pts</a></li>
  <li class=""><a href="#ntHistory" data-toggle="tab">NT</a></li>
  <li class=""><a href="#bpsHistory" data-toggle="tab">BPS</a></li>
  <li class=""><a href="#espHistory" data-toggle="tab">ESP</a></li>
  <li class=""><a href="#minsHistory" data-toggle="tab">Mins</a></li>
</ul>

<div id="fixturesAnalysisTabContent" class="tab-content" style="overflow:scroll">
  <div class="tab-pane fade active in" id="costHistory">
    <div id="costHistoryChart">
    </div>
  </div>
  <div class="tab-pane fade" id="pointsHistory">
    <div id="pointsHistoryChart" style="width:auto">
    </div>
  </div>
  <div class="tab-pane fade" id="ntHistory">
    <div id="ntHistoryChart">
    </div>
  </div>
  <div class="tab-pane fade" id="bpsHistory">
    <div id="bpsHistoryChart">
    </div>
  </div>
  <div class="tab-pane fade" id="espHistory">
    <div id="espHistoryChart">
    </div>
  </div>
  <div class="tab-pane fade" id="minsHistory">
    <div id="minsHistoryChart">
    </div>
  </div>

</div>