<ul class="nav nav-tabs" style="margin-bottom: 15px;">
  <li class="active"><a href="#generalTab" data-toggle="tab">General</a></li>
  <li class=""><a href="#positivesTab" data-toggle="tab">Positives</a></li>
  <li class=""><a href="#negativesTab" data-toggle="tab">Negatives</a></li>
</ul>

<div id="spiderChartsTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="generalTab">
    <div id="generalChart">
    </div>
  </div>
  <div class="tab-pane fade" id="positivesTab">
    <div id="positivesChart">
    </div>
  </div>
  <div class="tab-pane fade" id="negativesTab">
    <div id="negativesChart">
    </div>
  </div>
</div>