<div class="row">

  <div class="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-info-circle"></i> About</h3>
      </div>
      <div class="panel-body">
        <p>
          This website is meant to enable fantasypremierleague managers to pick better teams
          by providing better filtering/sorting options than the stock fantasy.premierleague.com
          website.

          This is a hobby project that I'm working on.
          I have loads of additional features in mind which I shall add as soon as possible.

          I promise to reply if you reach out to me via twitter or email with your suggestions or
          feedback on the website. :)
          Enjoy!
        </p>
      </div>
    </div>
  </div>
  <!--
  <div class="col-lg-12">
    <h1>About</h1>


    <div class="alert alert-dismissable alert-warning">
      <button data-dismiss="alert" class="close" type="button">×</button>
      <h4>Warning!</h4>
      <p>You have two new messages.
      </p>
    </div>

  </div>
  -->


  <!--
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Traffic Sources One month tracking </h3>
        </div>
        <div class="panel-body">




        </div>
      </div>
    </div>
  </div>
  </div>
  -->
</div>
