<div class="row">
  <div class="col-lg-12">
    <h1>Help</h1>
    <p>
      Working on up to date instructions. But for now you could use these instructions from an earlier version of the app: http://fpl-assistant.herokuapp.com/howto
    </p>
    <!--
    <div class="alert alert-dismissable alert-warning">
      <button data-dismiss="alert" class="close" type="button">×</button>
      <h4>Warning!</h4>
      <p>You have two new messages.
      </p>
    </div>
    -->
  </div>
</div>


<!--
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Traffic Sources One month tracking </h3>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>
</div>
-->
