<div class="row">
  
  <div class="col-lg-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-question-circle"></i> Help</h3>
      </div>
      <div class="panel-body">

        <p>
          The <a href="http://www.screencast.com/t/CAGHFvJaGhI">
            short video</a> below explains how to make the best use of the features
          of the data-grid and the charts.
        </p>
        <p>
          <object id="scPlayer"  width="666" height="391" type="application/x-shockwave-flash" data="http://content.screencast.com/users/keithxm23/folders/Default/media/d7e20620-573f-4bf1-9fe1-390c8b8502de/bootstrap.swf" >
           <param name="movie" value="http://content.screencast.com/users/keithxm23/folders/Default/media/d7e20620-573f-4bf1-9fe1-390c8b8502de/bootstrap.swf" />
           <param name="quality" value="high" />
           <param name="bgcolor" value="#FFFFFF" />
           <param name="flashVars" value="thumb=http://content.screencast.com/users/keithxm23/folders/Default/media/d7e20620-573f-4bf1-9fe1-390c8b8502de/FirstFrame.jpg&containerwidth=1166&containerheight=686&content=http://content.screencast.com/users/keithxm23/folders/Default/media/d7e20620-573f-4bf1-9fe1-390c8b8502de/fplassistanthelp.swf&blurover=false" />
           <param name="allowFullScreen" value="true" />
           <param name="scale" value="showall" />
           <param name="allowScriptAccess" value="always" />
           <param name="base" value="http://content.screencast.com/users/keithxm23/folders/Default/media/d7e20620-573f-4bf1-9fe1-390c8b8502de/" />
           Unable to display content. Adobe Flash is required.
          </object>
        </p>
        <p>
          For more detailed instructions on using the grid, <a href="http://fpl-assistant.herokuapp.com/howto">
            this tutorial</a> from an earlier
          version of the app would be useful.
        </p>

      </div>
    </div>
  </div>

</div>
